.navbar-inverse{
	background-color: #009688;
	border:#009688;

}
.navbar-inverse .navbar-nav>li>a{
	color: white;
	font-size: 15px;
}
.navbar-inverse .navbar-brand{
	color: white;

	display: inline-block;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	background-color: white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
	color: #009688;
	font-weight: bold;
}
.dropdown-menu>li>a{
	color: #009688;

}
.dropdown-menu>li>a:hover{
	background-color: #009688;
	color: white;
	
}

.navbar-brand{
	padding: 2%;
}


.navbar-inverse .navbar-nav>li>a:hover{
	background-color: rgba(255,255,255,0.9);
	color: #009688;
	cursor: pointer;
}

#fotoUsu{
	color: white;
	font-size: 40px;
	right: -900%;
	padding: 2%;
	padding-top: 10%;
}
#MenuUsu{
	margin-left: 640%;
}

